.diagram-container {
  height: 100vh;
  width: 100%;
}

.properties-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 360px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

.properties-panel:empty {
  display: none;
}

.properties-panel > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100vh;
}
